/**
 *	MEDIA QUERY - BLOCK MIXIN
 *	@uses in $mqs
 *
 * 	usage:
 * 	+MQ(mqname)
 *		#element
 *			css properties
 * 	or:
 * 	#element
 *		+MQ(mqname)
 *			css properties
 */
MQ(name='all')
	@media $p23_mqs[name]
		{block}


/**
 *	Clearfix MIXIN
 *		used in _helpers=>.cf
 *
 * 	usage:
 *	#element
 * 		cf()
 */
cf()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both