/**
 *	MEDIA QUERY VARS
 *		used in MQ() mixin
 */
$p23_mq_mobile      = 'only screen and (max-width: 640px)' // unless $p23_mq_mobile is a string
$p23_mq_tablet      = 'only screen and (min-width: 768px)'
$p23_mq_desktop     = 'only screen and (min-width: 1024px)'

$p23_mqs = {
  'all'		: 'only screen',
  'mobile'	: $p23_mq_mobile,
  'tablet'	: $p23_mq_tablet,
  'desktop'	: $p23_mq_desktop
}