mq('all')
	body::after
		content 'Testmodule in CUSTOM MQ'

mq('mobile')
	body::after
		content 'Testmodule in MOBILE MQ'

mq('tablet')
	body::after
		content 'Testmodule in TABLET MQ'

mq('desktop')
	body::after
		content 'Testmodule in DESKTOP MQ'
