MQ 'all'
	body::after
		content 'Testmodule in CUSTOM MQ'

MQ 'mobile'
	body::after
		content 'Testmodule in MOBILE MQ'

MQ 'tablet'
	body::after
		content 'Testmodule in TABLET MQ'

MQ 'desktop'
	body::after
		content 'Testmodule in DESKTOP MQ'
