// html5 doctor css reset
@import "inc/reset";

body {
	@include mq {
		color: blue;
	}
	@include mq('desktop') {
		color: red;
	}
}

// MODULES ARE IMPORTED AT LAST
// SO THE OVERWRITES ARE ONLY IN MODULE CONTEXT
@import "modules/testmodule";
@import "modules/modulex";