@import "inc/base";

$mq_mobile:     'sreen and (max-width: 640px)';
$mq_tablet:     'sreen and (min-width: 641px)';
$mq_desktop:    'sreen and (min-width: 1024px)';

@font-face {
    font-family: 'TradeGothicLTStd';
    src: url('../assets/fonts/TradeGothicLTStd-BdCn20.eot');
    src: local('☺'),
    url('../assets/fonts/TradeGothicLTStd-BdCn20.woff') format('woff'),
    url('../assets/fonts/TradeGothicLTStd-BdCn20.ttf') format('truetype'),
    url('../assets/fonts/TradeGothicLTStd-BdCn20.svg#TradeGothicLTStd') format('svg');
    font-weight: normal;
    font-style: normal;
}

$mq: 'all' !global;
@import "main.scss";

@media #{$mq_mobile} {
    $mq: 'mobile' !global;
    @import "main.scss";
}

@media #{$mq_tablet} {
    $mq: 'tablet' !global;
    @import "main.scss";
}

@media #{$mq_desktop} {
    $mq: 'desktop' !global;
    @import "main.scss";
}

$mq: 'all' !global;
// Hacks, Quickfix, Dirty Code...
// http://lmgtfy.com/?q=shame.css
@import "shame";