/**
 *	MEDIA QUERY VARS
 *		used in MQ() mixin
 */
$mq_mobile      = 'only screen and (max-width: 640px)'
$mq_tablet      = 'only screen and (min-width: 768px)'
$mq_desktop     = 'only screen and (min-width: 1024px)'

$mqs = {
  'all'		: 'only screen',
  'mobile'	: $mq_mobile,
  'tablet'	: $mq_tablet,
  'desktop'	: $mq_desktop,
}